#sobreMim {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline: 50px;
    height: 100vh;
    gap: 50px;
    border-block: 3px solid rgba(0, 0, 0, 0.200);
}

#resumo {
    display: flex; 
    flex-direction: column;
    gap: 20px;
    padding-inline: 16px;
}

#resumo h2 {
    font-size: 4rem;
    color: rgb(188, 0, 213);
}

#resumo p {
    font-size: 1.5rem;
}

#meus-conhecimentos h2 {
    font-size: 3.5rem;
    color: rgb(188, 0, 213);
}
#meus-conhecimentos {
    width: 100%;
    margin-left: 16px;
}

#meus-conhecimentos ul {
    list-style: none;
    font-size: 1.5rem;
}

@media screen and (max-width: 1090px) {

    #sobreMim {
        flex-direction: column;
        padding-inline: 10px;
    }

    #sobreMim div:nth-child(1) h2 {
        font-size: 2rem;
    }

    #sobreMim div:nth-child(1) p {
        font-size: 1.2rem;
    }
    

    #meus-conhecimentos h2 {
        font-size: 1.8rem;
    }
    #meus-conhecimentos ul{
        font-size: 1.2rem;
    }

}